{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
<!-- Header div and header-overlay from Lydia to add page background -->
<div class="header">
  <div class="header-overlay d-flex flex-column align-items-center">
    <!-- Spacer div to push registration form below navbar -->
    <div class="spacer py-5"></div>
    <div class="form-container py-3 px-4">
      <div class="container my-3">
        <h1 class="display-5 fw-bold lh-1">
          <span class="border-warning pb-3 border-bottom">Join us</span>
        </h1>
      </div>
      <div class="container pt-3 mt-3 mb-5">
        <h2 class="fs-6">Enter your details to register.</h2>
      </div>
      <div class="container">
        <form action="#" method="POST">
          {% csrf_token %}
          <div class="container">
            {{ form|as_bootstrap}}
            <input type="submit" value="Register" class="btn register-btn mt-4 w-100">
          </div>
          <input type="hidden" name="next" value="{{ next }}">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}