{% load static %}
    <div class="row w-100 p-2 m-0">
      <div class="col-12 mb-3">
        <p class="fw-bold text-center made-by">This site was made by</p>
      </div>
      <div class="col d-flex justify-content-center">
        <a href="https://github.com/JoGorska" target="_blank" class="d-flex flex-column align-items-center text-center text-decoration-none fw-bold">
          <div class="jo mb-2"></div>
          <span>Jo</span>
        </a>
      </div>
      <div class="col d-flex justify-content-center">
        <a href="https://github.com/NickChapman1988" target="_blank" class="d-flex flex-column align-items-center text-center text-decoration-none fw-bold">
          <div class="nick mb-2"></div>
          <span>Nick</span>
        </a>
      </div>
      <div class="col d-flex justify-content-center">
        <a href="https://github.com/rockymiss" target="_blank" class="d-flex flex-column align-items-center text-center text-decoration-none fw-bold">
          <div class="rachel mb-2"></div>
          <span>Rachel</span>
        </a>
      </div>
      <div class="col d-flex justify-content-center">
        <a href="https://github.com/CGPlusPlus" target="_blank" class="d-flex flex-column align-items-center text-center text-decoration-none fw-bold">
          <div class="conor mb-2"></div>
          <span>Conor</span>
        </a>
      </div>
      <div class="col d-flex justify-content-center">
        <a href="https://github.com/lmw95" target="_blank" class="d-flex flex-column align-items-center text-center text-decoration-none fw-bold">
          <div class="lydia mb-2"></div>
          <span>Lydia</span>
        </a>
      </div>
    </div>
