<div class="container">
    <div class="d-flex justify-content-center">
      <div>
        <p class="small mb-0">This website was made for educational purposes only | </p>
      </div>
      <div class="footer-sm">
        <a class="fw-bold my-heading-font text-decoration-none px-2" href="#" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a class="fw-bold my-heading-font text-decoration-none" href="#" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
</div>