{% load static %}

  <div class="container pt-3">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-3">
      <!-- forloop to display all messages in the database -->
      {% for jocke in jockes_list|slice:"3" %}
      <div class="col mt-1 mb-3">
        <div class="card border-warning shadow-lg">
          <!-- card header -->
          {% include 'partials/jockes_header.html' %}
          <!-- card body -->
          <div class="card-body">
            <!-- Modal Trigger -->
            <div  class="" data-bs-toggle="modal" data-bs-target="#id-modal-{{jocke.id}}" data-bs-show="true">
              <p class="card-text fs-5 text">{{jocke.headline}}
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- jockes modal -->
  {% include 'partials/jockes_modal.html' %}
  <div class="container pt-3 mt-4 mb-5">
    <a href="{% url 'jockes_list' %}" class="text-decoration-none text-muted" aria-label="go to jockes list page (opens in the same window)">
      <h2>more...
      </h2>
    </a>
  </div>