{% load static %}
<div>
    <div class="page-overlay d-flex justify-content-center align-items-center">
        <div class="container options-container p-5">

            <div class="row">
                <div class="col-sm-12 col-lg-9">
                    <div class="row">
                        <!--Javascript writing animation-->
                        <div class="col-12">
                            <h1 class="fw-bold mb-4 welcome-text">
                                Welcome to MyMind'sEye
                            </h1>
                        </div>
                        <div class="col-12">
                            <h2 class="fs-4 mt-5">You must be logged in to access</h2>
                            <div class="pt-3 login-or-register d-flex">
                                <a href="{% url 'login' %}?next/" class="p-4 text-decoration-none login">Login</a>
                                <a href="{% url 'register' %}" class="p-4 text-decoration-none register">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex flex-column align-items-end justify-content-evenly landing-icons">
                    <a href="{% url 'bored' %}"><img src="{% static 'media/bored-dark.png' %}" width=60 height=60></a>
                    <a href="{% url 'happy' %}"><img src="{% static 'media/happy-dark.png' %}" width=60 height=60></a>
                    <a href="{% url 'stressed' %}"><img src="{% static 'media/redness-dark.png' %}" width=60 height=60></a>
                    <a href="{% url 'tired' %}"><img src="{% static 'media/sleep-dark.png' %}" width=60 height=60></a>
                </div>
            </div>
        </div>
    </div>
</div>

