@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --blue: rgba(21, 96, 100, 0.7);
    --yellow: rgba(248, 225, 108, 0.7);
    --coral: rgba(251, 143, 103, 0.7);
    --coral-hex: #FB8F67;
    --font: #0B3132;
    --body: 'Spartan', sans-serif;
}

body {
    font-family: var(--body);
}

/* Navbar & header */

.page-overlay {
    padding: 20px 0;
    min-height: calc(100vh - 56px);
    width: 100%;
    background: linear-gradient(217deg, var(--blue), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, var(--coral), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, var(--yellow), rgba(0,0,255,0) 70.71%);
}

.navbar {
    box-shadow: 0 5px 10px rgba(0,0,0,.05), 0 5px 5px rgba(0,0,0,.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    -ms-backdrop-filter: blur(15px);
}

.navbar-nav {
    font-weight: 500;
    margin-left: auto;
}

.navbar-brand {
    font-weight: 600;
    font-size: 2.5em;
}

.navbar-brand,
.nav-link {
    color: var(--font);
}

.navbar-brand:hover,
.nav-link:hover {
    color: var(--font);
}

.navbar-toggler-icon {
    color: var(--font);
    display: flex;
    align-items: center;
}

/* Landing page */

.login-or-register {
    width: 100%;
}

.login-or-register a {  
    border-radius: 15px;
    background-color: var(--font);
    color: var(--coral-hex);
    padding: 1em;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
    width: 48%;
    margin-right: 10px;
}

.login-or-register a:hover {
    color: var(--coral-hex);
    transform: translateY(-5px);
}

.login::after {
    content: "\f2f6";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    float: right;
}

.register::after {
    content: "\f234";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    float: right;
}

.landing-icons img {
    opacity: 0.5;
}

.welcome-text {
    font-size: 2.5em;;
}

.toggle-password:hover {
    cursor: pointer;
}

/* User emotion options */

.options-container {
    background: var(--coral);
    border-radius: 15px;
    color: var(--font);
}

.emotion-box {
    background-color: var(--coral-hex);
    border-radius: 15px;
    width: 23%;
    box-shadow: 0 5px 10px rgba(0,0,0,.05), 0 5px 5px rgba(0,0,0,.05);
}

.emotion-icon {
    transform: translateY(-30px);
    background-color: var(--font);
    border-radius: 50%;
}

/* Register */

.form-container {
    background-color: var(--coral);
    border-radius: 15px;
    width: 40%;
}

form label {
    font-weight: 700;
    margin-bottom: 5px;
}

.form-control {
    margin-bottom: 10px;
    border-radius: 50px;
}

.register-btn,
.login-btn {
    border-radius: 15px;
    background-color: var(--font);
    color: var(--coral-hex);
    padding: 1em;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

.register-btn:hover,
.login-btn:hover {
    color: var(--coral-hex);
    transform: translateY(-5px);
}


/* Login */

.login-container {
    background-color: var(--coral);
    border-radius: 15px;
    color: var(--font);
}

.login-container a {
    color: var(--font);
}

/* Footer */

.footer {
    background-color: var(--coral-hex);
    color: var(--font);
}

.footer a {
    color: var(--font);
}

@media screen and (max-width: 991px) {

    .navbar {
        background: linear-gradient(90deg, var(--blue), transparent 65%) !important;
    }

    .form-container {
        width: 70%;
    }

    .nav-link {
        font-weight: 700;
    }

    .landing-icons {
        flex-direction: row !important;
        padding-top: 25px;
    }

    .welcome-text {
        text-align: center;
    }

    .welcome-user {
        text-align: center;
        box-shadow: 0 5px 10px rgba(0,0,0,.05), 0 5px 5px rgba(0,0,0,.05);
        border-radius: 50px;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 1.3em;
    }

    .header {
        height: 100vh;
    }

}

@media screen and (max-width: 768px) {
    
    .options-container {
        width: 95% !important;
        padding: 24px !important;
        margin-top: 80px;
       
    }

    .emotion-box {
        width: 46% !important;
        margin-bottom: 40px;
        margin-left: 2px;
        margin-right: 2px;
    }

}


@media screen and (max-width: 576px) {

    .navbar-brand {
        font-size: 1.4em;
    }

    .navbar-brand img {
        height: 40px;
        width: 40px;
    }

    .emotion-icon img {
        height: 40px;
        width: 40px;
    }

    .footer {
        font-size: 2.6vw;
    }

    .form-container {
        width: 95% !important;
    }
}

/*tired.html*/


    .login-or-register {
        flex-direction: column;
    }

    .login-or-register a {
        width: 100%;
        margin-bottom: 10px;
    }

    .welcome-text {
        font-size: 2.2em;
    }

.accordion-button {
    background: var(--coral-hex) !important;
    box-shadow: 0 5px 10px rgba(0,0,0,.05), 0 5px 5px rgba(0,0,0,.05) !important;
}

.accordion-body {
    background-color: var(--coral) !important;     
    color: var(--font);    
    box-shadow: 0 5px 10px rgba(0,0,0,.05), 0 5px 5px rgba(0,0,0,.05);
}

[type=button]:not(:disabled), .accordion-button::after {
    color: var(--font) !important;

}


