{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
<!-- Page-overlay from Lydia to add page background -->
<div>
    <div class="page-overlay d-flex flex-column align-items-center">
        <!-- Spacer div to push registration form below navbar -->
        <div class="spacer py-5"></div>
        <div class="container options-container p-5">
            <div class="row">
                <div class="col-12">
                    <h2>Bored <img src="{% static 'media/bored-dark.png' %}" width=60 height=60 class="head-image-middle"></h2>
                    <P>Traditionally, boredom gets a bad rap because many people believe that the state of boredom
                        equates with a lack of productivity or focus on a given task.

                        However, some research has indicated that it is good to be bored because this state helps boost
                        creativity.

                        One way or the other, boredom is something we all have experienced repeatedly throughout our
                        lives, and according to some research, it seems that animals might share this experience with
                        us, too.
                    </P>
                    <div class="col-12 tips">
                        <h3>Embrace the Boredom!</h3>
                        <ol>
                            <li>Acknowledge the feeling of boredom. Boredom is the feeling that has arisen, so accept it
                                in this moment.</li>
                            <li>Notice the thoughts running through your mind. Perhaps, "Ohhhh, I can't be bothered!" or
                                "What is the point of doing this?"</li>
                            <li>Get interested in boredom. Allow yourself to become curious. Where did the boredom come
                                from? Where's it going? Can you feel boredom in certain parts of your body? </li>
                            <li>Connect your attention to the sensations of breathing and see what happens to boredom.
                            </li>
                            <li>Try not to fear boredom when it hits you. Instead of saying "I'm bored" when you are
                                stuck in traffic, put some music on and allow your mind to wander.
                            <li>If you have children, let them be bored too. Allow their imaginations to run free and be
                                creative.</li>
                            <li>Games can help with our memory thus improving mental health. If you're still a bit bored give our Eye Match game a go and test your memory!</li>
                        </ol>
                    </div>

                </div>
                <div class="col-12 tips">
                    <h3 id="eye-match-header">Eye Match</h3>
                </div>
                <div id="home-reset">
                    <span class="reset-button">
                        <a aria-label="reset" href="{% url 'click_mood' author_id=user.id mood='bored' %}"><i class="fas fa-undo"></i> Reset</a>
                    </span>
                </div>
                <div id="game-data">
                    <h4 class="data-flip flips">Flips:<span id="result"> 0</span></h3>
                    <h4 id="data-time">Time:<span id="timer"> 00:00</span></h3>
                </div>
                <div class="game-grid">
                    <div class="grid">
                    </div>
                </div>
            </div>
            <span class="home-button ">
                <a aria-label="home" href="{% url 'home' %}" class="fs-6"><i class="fas fa-home pt-3"></i> Back to Home</a>
            </span>
        </div>
        <!-- Back to top Button -->
        <div class="btt-button">
            <a class="btt-link d-flex h-100">
                <i class="fas fa-arrow-up mx-auto my-auto"></i>
            </a>	
        </div>
    </div>
</div>

<div class="modal win" tabindex="-1" role="dialog" id="congratsModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100">Congratulations!</h5>
            </div>
            <div class="modal-body">
                <p>You finished the game!</p>
                <span id="totalFlips"> </span>
                <span id="winTime"> </span>                
            </div>
            <div class="modal-footer">
                <a class="reset-btn mr-auto" aria-label="reset" href="{% url 'click_mood' author_id=user.id mood='bored' %}"><i class="fas fa-undo"></i> Play Again?</a>
                <a class="home-btn" aria-label="home" href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a>
            </div>
        </div>
    </div>
</div>  

<script>
    
    var STATIC_URL = "{{STATIC_URL|safe}}";
    var logoptio2url = "{% static 'media/100x100/logo-option-2.png' %}"
    var bored_dark_url = "{% static 'media/100x100/bored-dark.png' %}"
    var bored_url = "{% static 'media/100x100/bored.png' %}"
    var happy_dark_url = "{% static 'media/100x100/happy-dark.png' %}"
    var happy_url = "{% static 'media/100x100/happy.png' %}"
    var redness_dark_url = "{% static 'media/100x100/redness-dark.png' %}"
    var redness_url = "{% static 'media/100x100/redness.png' %}"
    var sleep_dark_url = "{% static 'media/100x100/sleep-dark.png' %}"
    var sleep_url = "{% static 'media/100x100/sleep.png' %}"

</script>

<script src="{% static 'js/game.js' %}"></script>
{% endblock %}

{% block postloadjs %}
    <!-- Back to top Button script-->
    {{ block.super }}
    <script>
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	  </script>
{% endblock %}