{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
<!-- Header div and header-overlay from Lydia to add page background -->
<div class="header">
    <div class="header-overlay d-flex flex-column align-items-center">
      <!-- Spacer div to push registration form below navbar -->
      <div class="spacer py-5"></div>
      <div class="container options-container p-5">
        <div class="row">
                <div class="col-12">
                   <h2>Bored</h2>
                   <P>Introduction text</P>
                   <div class="col-12 tips">
                    <h3>Embrace the Boredom!</h3>
                    <ol>
                        <li>Acknowledge the feeling of boredom. Boredom is the feeling that has arisen, so accept it in this moment.</li>
                        <li>Notice the thoughts running through your mind. Perhaps, ‘Ohhhh, I can’t be bothered!’ or ‘What is the point of doing this?</li>
                        <li>Get interested in boredom. Allow yourself to become curious. Where did the boredom come from? Where’s it going? Can you feel boredom in certain parts of your body? Notice the desire to sleep or do something else other than continuing to practice.</li>	
                        <li>Connect your attention to the sensations of breathing and see what happens to boredom.</li>
 
                    </ol>
                    </div>
                   
                </div>
            </div>
            <div class="row d-flex justify-content-evenly mt-5">
            </div>
        </div>
    </div>
</div>
{% endblock %}

