{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
<div class="header">
    <div class="header-overlay d-flex justify-content-center align-items-center">
        <div class="container options-container p-5">
            <div class="row">
                <div class="col-12">
                   <h2>Happy</h2>
                   <P>Introduction text</P>
                   
                </div>
            </div>
            <div class="row d-flex justify-content-evenly mt-5">
            </div>
        </div>
    </div>
</div>
{% endblock %}

