{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
<div class="header">
    <div class="page-overlay d-flex flex-column align-items-center">
      <!-- Spacer div to push registration form below navbar -->
      <div class="spacer py-5"></div>
        <div class="container options-container p-5">
            <div class="row">
                <div class="col-12">
                   <h2>Happy</h2>
                   <P>Being happy is one of the most fundamental requirements of a living being. Since the beginning of the human civilization, man has also been trying to develop new technologies, make new tools and improve his lifestyle for the sole purpose of attaining happiness. However, in its race of scientific endeavor and pursuit of money and luxuries, man is hardly aware of what exactly constitutes happiness.

                    Happiness is defined as the state in which a living being expresses pleasure and contentment. It is the state in which negative stress levels are at the lowest, even if not zero, and positive stress boosts the person’s positive emotions.</P>
                   <div class="col-12 tips">
                    <h3>Tips to keep that happiness going</h3>
                    <ol>
                       <li>What was your motivation today?  What made you happy?  No matter what happens keep this in mind as you work to reach your goals today.</li>
                       <li>Now is the time to find a new activity, something you have been putting off that you wanted to do or were afraid to do.</li>
                       <li>Keep that happiness going and take a self-care break by getting outside, it will help to reduce stress, improve sleep and allow you to connect with nature which benefits overall mental health and focus.  </li>
                       <li>Do something nice for someone else.</li>
                       <li>Show compassion for family and friends but also for society as a whole.  Accept that it's okay for us all to have different views and especially different moods from day to day! </li>
                       <li>While you have the energy declutter and reorganise - this helps reduce general stress and improve focus.</li>
                       <li>Read more! Make it a real book if you can.  We already spend too much time on devices and we could all do with a break from constant news and media.</li>
                       <li>Check in with others, pick up the phone and have a chat!  How often do we do that now?</li>
                    </ol>
                    </div>

                </div>
            </div>
                <div class="row d-flex justify-content-evenly mt-5">
                </div>
        </div>
    </div>
</div>
{% endblock %}

