{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}

{% if user.is_authenticated %}
<!-- user authenticated -->
<div>
    <div class="page-overlay d-flex justify-content-center align-items-center">
        <div class="container options-container p-5">
            <div class="row">
                <div class="col-12">
                    <h1>Hi. Take a deep breath.</h1>
                    <p class="fw-bold">How do you feel today?</p>
                </div>
            </div>
            <div class="row d-flex justify-content-evenly mt-5">

                <!--Tired-->

                <div class="col-sm-6 col-lg-3 p-4 pt-0 emotion-box" id="emotion-box__tired">
                    <div class="emotion-box-img d-flex justify-content-center">
                        <div class="emotion-icon p-4">
                            <a href="{% url 'click_mood' author_id=user.id mood='tired' %}">
                            <img src="{% static 'media/sleep.png' %}" width=60 height=60>
                            </a>
                        </div>
                    </div>
                    <div class="text-center w-100">
                        <p class="fw-bold fs-5">Tired</p>
                    </div>
                </div>
                </a>
                <!--Bored-->

                <div class="col-sm-6 col-lg-3 p-4 pt-0 emotion-box" id="emotion-box__bored">
                    <div class="emotion-box-img d-flex justify-content-center">
                        <div class="emotion-icon p-4">
                            <a href="{% url 'click_mood' author_id=user.id mood='bored' %}">
                            <img src="{% static 'media/bored.png' %}" width=60 height=60>
                            </a>
                        </div>
                    </div>
                    <div class="text-center w-100">
                        <p class="fw-bold fs-5">Bored</p>
                    </div>
                </div>

                <!--Happy-->
                <div class="col-sm-6 col-lg-3 p-4 pt-0 emotion-box" id="emotion-box__happy">
                    <div class="emotion-box-img d-flex justify-content-center">
                        <div class="emotion-icon p-4">
                            <a href="{% url 'click_mood' author_id=user.id mood='happy' %}">
                            <img src="{% static 'media/happy.png' %}" width=60 height=60>
                            </a>
                        </div>
                    </div>
                    <div class="text-center w-100">
                        <p class="fw-bold fs-5">Happy</p>
                    </div>
                </div>

                <!--Stressed-->
                <div class="col-sm-6 col-lg-3 p-4 pt-0 emotion-box" id="emotion-box__stressed">
                    <div class="emotion-box-img d-flex justify-content-center">
                        <div class="emotion-icon p-4">
                            <a href="{% url 'click_mood' author_id=user.id mood='stressed' %}">
                            <img src="{% static 'media/redness.png' %}" width=60 height=60>
                            </a>
                        </div>
                    </div>
                    <div class="text-center w-100">
                        <p class="fw-bold fs-5">Stressed</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% else %}

{% include 'partials/not_authenticated.html' %} 

{% endif %}

{% endblock %}