{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
<div class="page-overlay d-flex justify-content-center align-items-center">
    <div class="container options-container p-5">
<div class="container my-2">
  <h1 class="display-5 fw-bold lh-1 ">
    <span class="border-warning pb-3 border-bottom">Jocke</span>
  </h1>
</div>
{% if user.is_authenticated %}
<!-- if user is authenticated, the form is available to fill in -->

<div class="container pt-3 mt-4 mb-5">
  <form action="#" method="POST">
  {% csrf_token %}
 
      {{ jocke_form|as_bootstrap}}
      <input class="btn btn-warning my-3 py-3" type="submit" value="Save"/>
      <input type="hidden" name="next" value="{{ next }}" />
      <input type="hidden" name="author_id" value="{{ user.id }}">
  </form> 
</div>
</div>
</div>
  {% else %}
<!-- user is not authenticated, links to log in or register -->
<div>
    <div class="page-overlay d-flex justify-content-center align-items-center">
        <div class="container options-container p-5">

            <div class="row">
                <div class="col-sm-12 col-lg-9">
                    <div class="row">
                        <!--Javascript writing animation-->
                        <div class="col-12">
                            <h1 class="fw-bold mb-4 welcome-text" id="writing">
        
                            </h1>
                        </div>
                        <div class="col-12">
                            <h2 class="fs-4 mt-5">You must be logged in to access</h2>
                            <div class="pt-3 login-or-register d-flex">
                                <a href="{% url 'login' %}?next/" class="p-4 text-decoration-none login">Login</a>
                                <a href="{% url 'user_account:register' %}" class="p-4 text-decoration-none register">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col d-flex flex-column align-items-end justify-content-evenly landing-icons">
                    <img src="{% static 'media/bored-dark.png' %}" width=60 height=60>
                    <img src="{% static 'media/happy-dark.png' %}" width=60 height=60>
                    <img src="{% static 'media/redness-dark.png' %}" width=60 height=60>
                    <img src="{% static 'media/sleep-dark.png' %}" width=60 height=60>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{%endblock%}