{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
<div class="header">
    <div class="header-overlay d-flex justify-content-center align-items-center">
         <!-- Spacer div to push registration form below navbar -->
      <div class="spacer py-5"></div>
        <div class="container options-container p-5">
            <div class="row">
                <div class="col-12">
                   <h2>Stressed</h2>
                   <P>Introduction text</P>
                   
                   <div class="col-12 tips">
                    <h3>Tips for a less stressful workplace</h3>
                    <ol>
                        <li>Find your own work style.  What works best for you? </li>
                        <li>Make a schedule and stick to it. </li>
                        <li>Prioritise what you need to cover.  Don’t procrastinate. </li>
                        <li>Keep your area organised and tidy and ask not to be disturbed. </li>
                        <li>Drink plenty of water and avoid caffeine, sugar, alcohol and other stimulants. </li>
                        <li>Eat a healthy diet, rich in fruit and vegetables, fish oils and healthy fats.  Never skip meals!</li>
                        <li>Make sure to get enough sleep – being over-tired will result in poor productivity. </li>
                        <li>Schedule time for non-work activities, hobbies, exercise and fresh air.</li>
                        <li>Try not to dwell on work that is finished, move on to the next project. </li>
                        <li>Spring clean your devices – get rid of time-sapping apps, turn off non-essential notifications and limit your screen time. </li>
                        <li>Set yourself realistic goals – there is no point setting yourself up for failure, instead of setting targets, focus on changing habits. </li>
                        <li>Say no to others, and say yes to yourself – put yourself first.  It’s not selfish and it can be difficult, but it will protect your mental health and increase your confidence. </li>
                        <li>Ask for help if you need it.  People WILL want to help you.  It makes them feel good, too! Don’t struggle alone.  </li>
                        <li>Acknowledge and accept any stresses or anxiety you may be feeling.  Don’t focus on trying to fix everything.  Be aware of your feelings and the reasons for them. </li>
                        <li>Try to focus on being Present in the now rather than trying to over-plan for the future.  Attend to what is happening now and what you can control. </li>
                        <li>Make a list of priorities for each day – just three things you want to achieve.  This will help you make sure you make the best use of your time.</li>
                        
                    </ol>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-evenly mt-5">
            </div>
        </div>
    </div>
</div>
{% endblock %}

