

<form action="{% url 'report_mood' %}" method="POST">
    {% csrf_token %}
    <!-- form gets pre filled with start address and geocoorinates -->
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="mb-3">
          <label for="id-start-date" class="form-label">Start Date
          </label>
          <input type="date" class="form-control" id="id-start-date" 
                 aria-describedby="start-date-help" name="start_date" 
                 required>
          <div id="start-date-help" class="form-text">
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="mb-3">
          <label for="id-end-date" class="form-label">End Date
          </label>
          <input type="date" class="form-control" id="id-end-date"
                 aria-describedby="end-date-help" name="end_date" 
                 required>
          <div id="end-date-help" class="form-text">
          </div>
        </div>
      </div>
    </div>     
    <div>
      <button type="submit" class="btn btn-warning btn-lg">See mood history
      </button>
    </div>
  </form> 