{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- icon for checked mark -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check
    </title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  </symbol>
</svg>
<!-- containers start here -->
<div>
  <div class="page-overlay d-flex justify-content-center align-items-center">
    <div class="container options-container p-5">
      <!-- main header -->
      <h2 class="display-6 text-center m-5 p-5">Mood History
      </h2>
      <div class="table-responsive mb-5">
        <table class="table text-center">
          <thead>
            <!--Table row - headers-->
            <tr>
              <th style="width: 40%;" class="text-start ps-5">Date:
              </th>
              <th style="width: 12%;">Tired
              </th>
              <th style="width: 12%;">Bored
              </th>
              <th style="width: 12%;">Happy
            </th>
            <th style="width: 12%;">Stressed
            </th>
            </tr>
          </thead>
          <!--Table body-->
          <tbody>
              <!-- this is one row -->
            <tr>
              <th scope="row" class="text-start ps-5">All health conditions
              </th>
              <td>
                <svg class="bi" width="24" height="24">
                  <use xlink:href="#check"/>
                </svg>
              </td>
              <td>
                <svg class="bi" width="24" height="24">
                  <use xlink:href="#check"/>
                </svg>
              </td>
              <td>
                <svg class="bi" width="24" height="24">
                  <use xlink:href="#check"/>
                </svg>
              </td>
              <td>
                <svg class="bi" width="24" height="24">
                  <use xlink:href="#check"/>
                </svg>
              </td>
            </tr>

           
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
